.phototext{
      padding-top: 10%;
    position: absolute;
    font-size: 43px;
}

.header-content {
  padding-bottom: 0px;
 bottom: 18%;
}

header
{
  display: block;
}

.header-navigation {
  position: absolute;
  top: 6%;
  right: 5%;
}

.header-navigation ul {
    margin: 8px 0;
    font-size: 0;
    line-height: 0;
    list-style: none;  
}

.header-navigation ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
    font-size: 20px;
    line-height: 1.5;
}

.header-title {
  color: #fff;
  padding-right: 0%;
  padding-top: 0%;
  padding: 6%;
  bottom: 0;
  margin: 0;
}

nav a {
    color: #fff;
  font-family: Poppins,Helvetica,Arial,sans-serif;
    display: inline-block;
    margin:5px 5px 5px 30px ;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px #283744;
}


.g-title {
    font-family: Poppins,Helvetica,Arial,sans-serif;
    font-size: 94px;
    line-height: 1.0;
    font-weight: 600;
    letter-spacing: -1px;
    position: absolute; 
}

.g-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.header{
  background-color: #000;
  z-index: 1;
}

.profile-headline-title{
  color: #000;
  padding-top: 6%;
}

.main{
position:relative;
z-index=10;
}

.profile{
}

.g-section{
}

.profle-content{
}

.g-content{
      
}

.profile-headline{
      padding-top:0;
}

.g-headline{
      max-width:640px;     
      float:left;
}




/*@media only screen and (max-width:1600px)*/
.g-text {
    float: none;
}
/*media screen*/
.g-text {
    max-width: 640px;
    float: right;
    font-size: 24px;
}

.profile-text
{
  padding-top: 6%;
}
 
nav{
  display: block;
}

/*media screen*/
.is-loaded .header-logo {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0);
    transform: rotateY(0deg);
}
.header {
  position : relative;
}

@media only screen and (max-width: 500px) {
  .g-title {
    font-size: 50px;
}
  
}
a:hover{
  color: grey;
}
